body{
  text-align: center;
  background-color: #2E4053;
}

.lightStatus{
  margin-top: 10%;
  color: white;
  font-family: Verdana;
}

.brightnessLvl, .automaticHeading {
  margin-top: 10%;
  color: white;
  font-family: Verdana;
}

/* Code handling Button */

.powerButton, .automaticPower{
  outline:none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius:3px;
  background: none;
  border: 2px solid #fff;
  color: #fff;
  letter-spacing:1px;
  text-shadow:0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
   transition: all 0.3s;
}

.powerButton:after, .automaticPower:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.powerButton:hover, .automaticPower:hover{
  color: #c2d9f7;
  background: #506b8f;
  border: 2px #506b8f solid;
  text-shadow: 0 0 21px #4170b3;
  cursor: pointer;
}



/* Sliders */

.slider {
    -webkit-appearance: none;
    width: 60%;
    height: 15px;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

