body{
  text-align: center;
  background-color: #2E4053;
}

.lightStatus{
  margin-top: 10%;
  color: white;
  font-family: Verdana;
}
.lightButton{
  font-size: 1.5em;
  font-family: Verdana;
  padding: 10px;
}
